{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - AllEvent</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="site-header compact">
        <div class="logo-text">AllEvent</div>
    </header>

    <main class="main-content">
        <form class="auth-form" method="POST"> 
    {% csrf_token %}


    <input type="text" name="nome_completo" placeholder="Nome completo" required>
    <input type="email" name="email" placeholder="E-mail" required>
    <input type="password" name="password" placeholder="Senha" required>
    <input type="password" name="password_confirm" placeholder="Confirme a senha" required>
    
    <button type="submit" class="btn btn-primary">CRIAR CONTA</button>
</form>

    {% if messages %}
    <div style="margin-top: 15px;">
         {% for message in messages %}
                    <p style="color: red; font-weight: bold;">{{ message }}</p>
                {% endfor %}
            </div>
    {% endif %}
    </main>
</body>
</html>